* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.error {
  display: none;
  color: #7b2d2d;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #171228;
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: medium;
  color: #171228;
}
.search {
  width: 100%;
  padding-bottom: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-city {
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  width: 65%;
}
#search-btn {
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  margin: 0.5rem;
  width: 25%;
  align-items: center;
  background-color: #7b2d2d;
  color: white;
}
.container {
  padding: 0.7rem;
  background: rgb(55, 102, 252);
  background: radial-gradient(
    circle,
    rgba(55, 102, 252, 0.8100490196078431) 0%,
    rgba(34, 195, 104, 1) 100%
  );
  width: 80%;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-top: 100px;
  max-width: 500px;
}

.location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.7rem;
  font-weight: 550;
  font-size: large;
}

.country > img {
  width: 25px;
  padding: 0.3rem;
}

.time {
  font-size: medium;
  text-align: left;
  padding: 1em;
  padding-left: 0;
}
.des {
  padding-bottom: 0.7em;
  font-size: large;
  font-weight: 525;
}
.extrades {
  display: grid;
  padding-bottom: 0.7em;
}
.weatherinfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#weathericon {
  width: 25%;
}

.temp {
  font-size: xx-large;
  font-weight: 700;
}

.degree {
  display: none;
}
.tempinfo {
  display: flex;
  flex-direction: row;
}
footer {
  background-color: rgb(32, 32, 32);
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
}
footer > a {
  padding: 0.3rem;
  text-decoration: none;
  padding-left: 0.7rem;
}
